ANTHROPIC_API_KEY=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
MONGODB_URI=mongodb://localhost:27017/
ENABLE_SIMULATOR=true
FLASK_ENV=development
